html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
}

/*------------------------*/
.webDesign section {
  width: 100%;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 56px;
}

.webDesign .hero {
  background-image: url("../images/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 356px;
  padding-bottom: 256px;
}

.webDesign .hero p {
  color: #fff;
  text-align: left;
  font-weight: bold;
  padding-bottom: 48px;
  line-height: 48px;
}

.webDesign .hero h1 {
  color: #fff;
}

.webDesign .hero .socialMedia .socialIcon {
  width: 60px;
  padding-right: 16px;
}

.webDesign section > div {
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  line-height: 94px;
  text-align: left;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #000;
}

h1 span {
  display: block;
}

span {
  font-size: 24px;
  line-height: 30px;
}

h2 {
  color: #000;
  font-size: 64px;
  text-align: center;
}

P {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.italic {
  color: #fff;
  font-style: italic;
}

.about div {
  width: 600px;
  color: #000;
}

.about h2 {
  padding-bottom: 40px;
}

.about p {
  font-weight: bold;
  line-height: 42px;
}

.about div:nth-of-type(1) {
  padding-top: 24px;
  padding-bottom: 12px;
}

.about div:nth-of-type(2) {
  width: 384px;
  margin: 0 auto;
  border-top: 1px solid #333;
  padding-top: 32px;
}

.about div:nth-of-type(2) p {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  position: relative;
  padding-bottom: 32px;
}

.about div:nth-of-type(2) p::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background-color: #891818;
  border-radius: 20px;
  margin-left: -44px;
}

.myBrand {
  background-color: #000;
  padding-top: 64px;
  padding-bottom: 160px;
}

.myBrand h2, .myBrand p, .myBrand span {
  color: #fff;
}

.myBrand h2 {
  margin: 0;
}

.myBrand p {
  line-height: 42px;
  margin-bottom: 48px;
  margin-top: 0px;
}

.myBrand .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myBrand .row1 img {
  width: 792px;
  height: auto;
}

.myBrand .row2 {
  padding-top: 40px;
}

.myBrand .row2 img:nth-child(1) {
  width: 588px;
  height: auto;
  padding-right: 24px;
}

.otherWorks {
  background-image: url("/images/photo-1561291386-5be50364cfb5.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.otherWorks h2 {
  padding-bottom: 24px;
  color: #000;
}

.otherWorks p {
  color: #000;
  padding-bottom: 48px;
}

.otherWorks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 56px;
}

.otherWorks li {
  padding-right: 24px;
}

.otherWorks li p {
  color: #fff;
  padding-top: 16px;
  padding-bottom: 0;
}

.footer {
  background-color: #000;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 80px;
}

.footer h2, .footer a {
  color: #fff;
  font-weight: 400;
}

.footer h2 {
  padding-bottom: 16px;
}

.footer a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  line-height: 36px;
}

.footer a:nth-of-type(1) {
  padding-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */