
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.clear {
    clear: both;
}
img{
    max-width: 100%;
    height: auto;
}
body {
    background-color: #ffffff;
}    
/*------------------------*/
.webDesign{
    section{
        width: 100%;
        text-align: center;
        padding-top: 64px;
        padding-bottom: 56px;
    }
    .hero{
        background-image:url("../images/banner.png");
        background-position: center center;
        background-repeat: no-repeat;
        // height: 958px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 356px;
        padding-bottom: 256px;
        p{
            color: #fff;
            text-align: left;
            font-weight: bold;
            padding-bottom: 48px;
            line-height: 48px;
        }
        h1{
            color: #fff;
        }
        .socialMedia{
            .socialIcon{
                width: 60px;
                padding-right: 16px;
            
            }
        }
    }
    section> div{
        // border-bottom: 1px solid #333;
        // width: 500px;
        margin: 0 auto;
        
    }
}
h1 {
    font-size: 80px;
    line-height: 94px;
    text-align: left;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #000;
    span{
        display: block;
    }
}
span{
    font-size: 24px;
    line-height: 30px;
}

h2{
    color: #000;
    font-size: 64px;
    text-align: center;
    // padding: 32px 0;
}
P{
    font-size: 24px;
    line-height:36px;
    font-weight: 400;
}
.italic {
    color: #fff;
    font-style: italic; 
}
.about{
    
    div{
        width: 600px;
        color: #000;
    }
    h2{
        padding-bottom: 40px;
    }
    p{
        font-weight: bold;
        line-height: 42px;
    }
    div:nth-of-type(1){
        padding-top: 24px;
        padding-bottom: 12px;
    }
    div:nth-of-type(2){
        width: 384px;
        margin: 0 auto;
        border-top: 1px solid #333;
        padding-top: 32px;
        p{
            text-align: center;
            font-size: 24px;
            line-height: 24px;
            font-weight: bold;
            position: relative;
            padding-bottom: 32px;
        }
        p::before{
            content: "";
            width: 22px;
            height: 22px;
            position: absolute;
            background-color: #891818;
            border-radius: 20px;
            margin-left: -44px;
        }
    }
    
}
.myBrand{
    background-color: #000;
    padding-top: 64px;
    padding-bottom: 160px;
    h2,p,span{
        color: #fff;
    }
    h2{
        margin: 0;
    }
    p{
        line-height: 42px;
        margin-bottom: 48px;
        margin-top: 0px;
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .row1{
        img{
            width: 792px;
            height: auto;
        }
    }
    .row2{
        padding-top: 40px;
        img:nth-child(1){
            width: 588px;
            height: auto;
            padding-right: 24px;
        }
    }
}
.otherWorks{
    background-image: url("/images/photo-1561291386-5be50364cfb5.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    h2{
        padding-bottom: 24px;
        color: #000;
    }
    p{
        color: #000;
        padding-bottom: 48px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 56px;
    }
    li{
        padding-right: 24px;
        p{
            color: #fff;
            padding-top: 16px;
            padding-bottom: 0;
        }
    }
}
.footer{
    background-color: #000;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 80px;
    h2,a{
        color: #fff;
        font-weight: 400;

    }
    h2{
        padding-bottom: 16px;
    }
    a{
        text-decoration: none;
        display: block;
        font-size: 24px;
        line-height: 36px;
    }
    a:nth-of-type(1){
        padding-bottom: 16px;
    }
}
