
 * {
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;

}
button{
    border: 0px;
    background-color: transparent;
    transition: .2s;
} 
button:hover, button:focus, button:active{
    outline:0;
    cursor: pointer;
}
button:active{
    transform: translate(0, 1px);
}
.wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}
section{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    margin:0px;
    padding:0px;
    .contain{
        width: 90%;
        margin: 40px auto 60px;
        position: relative;
    }
    
}    

.selectCountry{
    background: url(/images/bg_location.png)center center fixed no-repeat;
    background-size: cover;
    h2{
        font-size: 20px;
        color: #fff;
    }
    h2.vipName{
        color: #FFD772;
    }
    
    .toolbar{
        position: absolute;
        right: 0px;
    }
    label, input{
        display: inline-block;
        width: 100%;
    }
    label{
        color: #fff;
        font-size: 14px;
        line-height: 1.7;
    }
    h2{
        padding-bottom: 15px;
    }
    input{
        border: 0;
        opacity: 0.8;
        border-radius: 30px;
        box-shadow: 0 5px 15px 0 rgba(5, 8, 10, 0.3);
        background-color: #0f1425;
        outline: none;
        padding: 10px 0;
        overflow: visible;
        background-size:18px 18px;/*设置小图标的 大小*/
        background-position: 97% 60%;/*设置小图标的位置*/
        background-repeat:no-repeat ;/*设置小图标不重复*/
        transition: .2s;
        &:hover{
            box-shadow: 0 2px 4px 0 rgba(5, 8, 10, 0.3);
        }
        &:active{
            box-shadow: inset 4px 4px 5px rgba(5, 8, 10, 1);
            transform: translate(0, 1px);
        }
    }
    ::placeholder{
        color: #fff .4;
    }
    input, select, textarea{
        color: #ffffff;
        padding-left: 20px;
    }
    textarea:focus, input:focus {
        color: #ffffff;
        
    }
    .btn-search{
        float: right;
        margin-top: -28px;
        margin-right: 12px;
        z-index: 3;
    }
}
form, .vpn{
       margin-bottom: 30px; 
}
.vpnArea{
    border: 1px solid #6b82b4;
    background-color: #293d69;
    border-radius: 10px;
    box-shadow:  5px 5px 15px 0 rgba(5, 8, 10, 0.6);
    padding: 10px 20px;
    ul{}
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >div{
            padding-top: 20px;
        }
        >div:nth-of-type(1){
            width: 10%;
            min-width: 40px;
            margin-right: 10px;
        }
        span{
            padding: 0 10px;
        }
        .speed{
            color: #91a0c3;
            span::after{
                content: 'ms';
                font-size: 12px;
                padding-left: 5px;
                
            }
        }
        >div:nth-of-type(2){
            width: 70%;
            flex: 1;
            padding-bottom: 20px;
            border-bottom: 1px solid #6b82b4;
            .countryName{
                color: #fff;
                padding-bottom: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                padding-right: 20px;
                // min-width: 260px;
            }
            .vpnSpeed{
                display: flex;
            }
            .tag{
                border-radius: 10px;
                padding: 2px 10px;
            }
            .tag.free{
                background-color:#2d7af4;
                color: #fff;
            }
            .tag.vip{
                color: #a55e21;
                background-color: #ffd772;
            }
            
        }
        >div:nth-of-type(3){
            position: relative;
            input[type="radio"] {
                display: inline-block;
                background-color:#1b2846;
                cursor: pointer;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                position: absolute;
                right: 0px;
            }
            input[type="radio"]:active{
                box-shadow: none;
            }
            input[type="radio"]:checked ~ .radio::after {
                opacity: 1;
                background-color: #5ee8a2;
            }
            .radio {
                background-color: #1b2846;
                position: absolute;
                right: 2px;
                top: 22px;
                height: 20px;
                width: 16px;
                border-radius: 50%;
            }
            .radio:after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #5ee8a2;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
}
.connectState{
    background: url(/images/bg_index.png)center center fixed no-repeat;
    background-size: cover;
    .accountHeader{
        display: flex;
        justify-content: space-between;
    }
    .toolbar{
        display: flex;
        .btn{
            padding: 0 20px;
        }
        .btn.purchase{
            background: linear-gradient(#49adb4,#63f59e);
            border-radius: 20px;
            padding: 7px 18px;
            
            span{
                color: #fff;
                font-size: 15px;
                display: inline-flex;
                line-height: 34px;
            }
            span::before{
                content: url(/images/icon_purchase.png);
                line-height: 15px;
                text-align: center;
                min-height: 32px;
                flex-direction: row;
                padding-right: 10px;
            }
        }
    }
    .account{
        font-size: 15px;
        color: #fff;
        line-height: 50px;
    }
    .connectArea{
        padding: 50px 0;
        .btnGroup,.connecting{
            padding: 30px 0;
        }
        .btnGroup{
            margin: 0 auto;
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            position: relative;
        }
        .btn{
            border-radius: 50%;
            border: 5px solid #0F272F;
            background: linear-gradient(#49adb4,#63f59e);
            color: #fff;
            font-size: 13px;
            margin: 0 10px;
            cursor: pointer;
            transition: .2s;
        }
        .btn:hover, .btn:active{
            background: linear-gradient(#091829,#304258);
            color: rgba(255, 255, 255, 0.5);
            border-color: #2F515C;

        }
        .btn-all{
            width: 58px;
            height: 58px;
            bottom: -5%;
            position: absolute;
            left: 15%;
        }
        .btn-on{
            width: 106px;
            height: 106px;

        }
        .btn-smart{
            width: 58px;
            height: 58px;
            position: absolute;
            bottom: -5%;
            right: 15%;
            
        }
        .connecting{
            display: flex;
            flex-direction: column;
            width: 100%;
            vertical-align: middle;
            justify-content: center;
            
            p{
                color: #5ee8a2;
                line-height: 1.5;
                text-align: center;
            }
            .time{
                font-size: 30px;
                color: #fff;
                line-height: 1.5;
                text-align: center;
            }

        }
    }
    .pingArea{
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        div{
            background-color: #0e1524;
            color: #91a0c3;
            margin: 0 auto;
            padding: 20px;
            border-radius: 12px;
            span{
                color: #fff;
                font-size: 24px;
                padding-right: 10px;
                padding-left: 20px;
            }
            span::after{
                content: 'ms';
                font-size: 14px;
                padding-left: 5px;
            }
        }
        button{
            float: right;
        }
    }
}